<app-header-modal></app-header-modal>
<ion-content>
  <!-- <ion-button (click)="presentPopover($event)"
    >Popover from within the modal</ion-button
  > -->

  <ion-list>
    <ion-item>
      <ion-input
        type="text"
        label="Demo input"
        labelPlacement="floating"
        autocomplete="labels"
        inputmode="text"
        size="large"
      />
    </ion-item>

    @for (item of items; track $index) {
    <ion-item>
      <ion-input type="text" [placeholder]="'AAAA'" inputmode="text" />
    </ion-item>
    }
  </ion-list>
</ion-content>
