.container-cards {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 56px);
}

.kanban-grid {
    width: 100vw;
    min-width: 250vw;
    height: 100%;
}

.kanban-row {
    height: 100%;
}

.kanban-col {
    border-left: solid 1px var(--ion-color-medium);
    overflow: hidden;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    &:first-child {
        border-left: none;
    }

    ion-toolbar {
        --background: none;
    }
}

ion-card {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: rebeccapurple;
}